body {
    font-family: sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 8rem 1fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar main';
    padding: 0;
    margin: 0;
}

/* SIDEBAR SECTION */

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 16rem 16rem;
    grid-area: sidebar;
    padding-left: 10px;
    background-color: rgb(59,146,212);
    color: white;
}

.side-actions,
.settings {
    grid-auto-rows: 2rem;
}

.dashboard,
.settings-actions {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}


.dashboard,
.side-actions,
.settings {
    display: grid;
    gap: 5px;
}


.icon {
    max-height: 18px;
    padding-left: 10px;
}

.sidebar .icon {
    filter: invert(100%) sepia(9%) saturate(2%) hue-rotate(206deg) brightness(112%) contrast(101%);
}

.logo {
    max-height: 40px;
    filter: invert(100%) sepia(9%) saturate(2%) hue-rotate(206deg) brightness(112%) contrast(101%);
}




/* HEADER SECTION */

.header {
    display: grid;
    /* grid-template-rows: auto 1fr; */
    background-color: white;
    grid-area: header;
}

.profile-image {
    background-image: url(images/home.svg);
    border-radius: 50%;
    max-height: 40px;
}

.content-button-section {
    margin-right: 20px;
}

.content-button {
    color: white;
    background-color: rgb(59,146,212);
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    font-size: .75rem;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr minmax(175px, 1fr);
    padding: 0 20px;
    gap: 50px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    background: lightgray;
    height: 10px;
    min-width: 100px;
    max-width: 500px;
    border-radius: 10px;
    flex: 1;
}

.account-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.user-welcome,
.content-button-section {
    display: flex;
    align-items: center;
}

.user-welcome {
    gap: 10px;
    padding-left: 20px;
}

.welcome h4 {
    font-size: .65rem;
    margin: 0;
    padding: 0;
}
.welcome h2 {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 5px;
}

.content-button-section {
    gap: 20px;
    justify-content: center;
}



/* MAIN CONTENT SECTION */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(226,232,240);
    gap: 20px;
    grid-area: main;
    box-shadow: inset 0px 3px 3px -2px rgba(172, 172, 172, 1);
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    padding: 0 0 10px 10px;
}

.card {
    border-radius: 5px;
    border-left: 8px solid rgb(240,180,40);
    background-color: white;
    height: 125px;
    padding: 10px;
}

.card,
.updates-section,
.trending-users {
    box-shadow: 2px 3px 3px -2px rgba(172, 172, 172, 1);
}


.updates-section,
.trending-users {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.announcements,
.trending {
    margin-right: 20px;
}

.card-title,
.update-title {
    font-weight: bold;
}

.update-title {
    font-size: .75rem;
    padding: 5px 0;
    margin: 0;
}

.updates > p:nth-child(2) {
    font-size: .65rem;
    padding: 0 0 15px 0;
    margin: 0;
}